<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="navigation">
    <nav id="header">
        <ul id="navWrapper" class="container-fluid">
            <li><h1>Anden</h1></li>
            <li><a href="/"><img id="logo" alt="Anden Konen" src="/anden_konen.png"></a></li>
            <li><h1>Konen</h1></li>
        </ul>
        <div class="container-fluid">
        <div class="row">
            <div class="col navigationBar"></div>
            <ul class="col-8 navigationBar">

        <ul id="navWrapper">

            <li><a href="/"><span>Forside</span></a></li>
            <li><a href="/view"><span>Alle produkter</span></a></li>
            <li><a href="/addProduct"><span>Tilføj produkt</span></a></li>
            <li><a href="/deleteProduct"><span>Slet produkt</span></a></li>

            </ul>
            <ul class="col navigationBar">
            <li><a href="https://www.facebook.com/Andenkonen/"><img class="socialMedia" src="/facebook.png"></a></li>
            <li><a href="https://www.instagram.com/andenkonen/"><img class="socialMedia" src="/instagram.png"></a></li>

        </ul>
        </div>
    </nav>
</header>
</html>