<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="navigation">
    <nav id="header">
        <ul id="logoWrapper">
            <li><a href="/"><img id="logo" alt="Anden Konen" src="anden_konen.png"></a></li>
        </ul>
        <ul id="navWrapper">
            <li><a href="/addProduct"><span>Tilføj produkt</span></a></li>
            <li><a href="/#"><span>Opdater produkt</span></a></li>
            <li><a href="/#"><span>Slet produkt</span></a></li>
        </ul>
    </nav>
</header>
</html>