body {
    margin: 0;
}
#header {
    font-family:Lobster, Verdana;
}
#header ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

#header li {
    display: inline-block;
    padding: 10px 10px 0px 0px;
}

#header li a {
    color: black;
    text-decoration: none;
}
#header li a :hover {
    text-decoration: underline;
}

#logo {
    height: 100px;
    width: auto;
}

#logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
}

#logoWrapper h1 {
    display: inline-block;
    font-size: 35px;
}

#navWrapper {
    margin-top: 0;
    padding-bottom: 10px;
}

.fp-image {
    margin-bottom: 16px;
}

.fp-image:hover {
    opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
}

/*Product page */
.productTitle {
    font-family: Lobster, Verdana;
    padding-left: 0px !important;
    border-bottom: 5px dotted black;
}

.productDescriptionTitle {
    font-weight: bold;
}

.productImage {
    width: 100%;
    height: auto;
    padding-left: 0px !important;
}

.productTextbox {
    padding-right: 0px !important;
}

.productDescription {
    height: 500px;
}

.productPrice {
}

.productOutline {
    border: 2px ridge whitesmoke;
    background-color: whitesmoke;
}

.addToCartButton {
    border: 1px outset #cacaca;
    background-color: #cacaca;
    border-radius: 3px 3px 3px 3px;
    margin-right: 15px;
}

.addToCartButton:active {
    border: 1px inset black;
}