<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Delete product</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>

<form action="/deleteProduct" method="post">
    <h1>Indtast ID på produktet du ønsker at slette</h1>
    <p>Indtast ID:</p>
    <input type="int1" name="int1">
    <p>Indtast ID igen:</p>
    <input type="int2" name="int2">
    <input type="submit" name="SLET">
</form>
<li><a href="/"><span>Forside</span></a></li>
</body>
</html>