<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:display="http://java.sun.com/xml/ns/persistence/orm">
<head>
    <meta charset="UTF-8">
    <title>Anden Konen Webshop</title>
    <div th:replace="fragments/links.html :: links"></div>

</head>
<body>
        <div th:replace="fragments/nav.html :: navigation"></div>


<div class="container">
    <div class="row">
           <a class="col-md-4" th:each="product,pStat : ${products}" th:unless="${pStat.index > 5}" th:href="@{productPage/{id}(id=${product.product_Id})}">
               <img class="col fp-image" th:src="@{img/{image}(image=${product.image_Name})}">
           </a>
    </div>
</div>

<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>