<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Billede upload</title>
</head>
<body>
<div class="container">
<div class="fileUpload">

    <h2>Upload billede</h2>
    <form action="/save" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label>Photo</label>
            <input type="file"
                   class="form-control" name="photo" placeholder="Enter photo">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="reset" class="btn btn-primary">Cancel</button>
    </form>
</div>
</div>
</body>
</html>