<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update-product</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<div class="container">

        <form action="#"
              th:action="@{/update/{id}(id=${product.id})}"
              th:object="${product}"
              method="post">
            <label for="Id">Id</label>
            <input type="text" th:field="*{Id}" id="Id" placeholder="Id">
            <label for="product_Name">Product Name</label>
            <input type="text" th:field="*{product_Name}" id="product_Name" placeholder="product_Name">
            <label for="image_Name">Image Name</label>
            <input type="text" th:field="*{image_Name}" id="image_Name" placeholder="image_Name">
            <label for="description">Description</label>
            <input type="text" th:field="*{description}" id="description" placeholder="description">
            <label for="price">Price</label>
            <input type="text" th:field="*{price}" id="price" placeholder="price">
            <label for="available">Available</label>
            <input type="text" th:field="*{available}" id="available" placeholder="available">

            <input type="submit" value="Update product">
        </form>
    </div>

<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>